# torch==2.0.1  --index-url https://download.pytorch.org/whl/cu118 
# torchvision==0.15.2  --index-url https://download.pytorch.org/whl/cu118 
# torchaudio==2.0.2  --index-url https://download.pytorch.org/whl/cu118
diffusers==0.27.2
accelerate==0.28.0
tensorflow==2.12.0
tensorboard==2.12.0
opencv-python==4.9.0.80
soundfile==0.12.1
transformers==4.39.2
omegaconf
gradio==4.10

huggingface_hub
iou

#git+https://github.com/TMElyralab/MMCM.git@main
#git+https://github.com/open-mmlab/mmpose.git@main
#git+https://github.com/open-mmlab/mmcv.git@main
#git+https://github.com/open-mmlab/mmdetection.git@main

git+https://github.com/TMElyralab/MMCM.git@main
git+https://github.com/TMElyralab/controlnet_aux.git@tme

git+https://github.com/tencent-ailab/IP-Adapter.git@main
git+https://github.com/openai/CLIP.git@main

mmpose
mmdet
mmcv

requests
gdown

Pillow
regex
scipy==1.13.0
soundfile
spaces==0.25.0
imageio
imageio-ffmpeg
ffmpeg-python